{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="b-wrapper .m-app_accounts m-template_password_reset">
	<h1>{{ title }}</h1>

	<p  class="b-password_reset__title">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

	<form action="" method="post">
		{% csrf_token %}
		{{ form.email.errors }}
		<p  class="b-password_reset">
			<label for="id_email">{% trans 'Email address' %}</label>
			{{ form.email }}
			<input type="submit" class="b-password_reset__btn" value="{% trans 'Reset my password' %}" />
		</p>
	</form>
</div>

{% endblock %}
