{% extends "base.html" %}

{% load i18n %}

{% block content %}

<h1>{% trans "Bucket" %}</h1>

{% if cookies_bucket %}
	{% if request.user.is_authenticated %}
		<h3>До того как вы вошли вы добавили следующие товары:</h3>
		Вы можете их <a href='{% url "bucket_sync" %}'>синхронизировать</a> или <a href='{% url "bucket_clear" %}'>удалить!</a>
		<br> Если вы не проведете синхронизацию, то товары добавленные до входа не будут включенны в ваш заказ!
	{% endif %}

	<h2>Товары добавленные до входа:</h2>
	<table class='b-bucket'>
		{% for item in cookies_bucket %}
			{% include "accounts/bucket__item.html" %}
		{% endfor %}
	</table>
{% endif %}


{% if server_bucket %}
	<h2>Товары в корзине:</h2>
	<table class='b-bucket'>
		{% for item in server_bucket %}
			{% include "accounts/bucket__item.html" %}
		{% endfor %}
	</table>
{% endif %}


<div class="b-bucket_total">
	{% trans "Total price" %}:
	<b class="b-bucket_total_price">{{ bucket_total_price|floatformat:0 }}</b>

	{% if bucket_total_count %}
		<a href='{% url "order" %}' class='b-button'>Перейти к оформлению заказа</a>
	{% endif %}
</div>



{% endblock content %}
