{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load static %}
{% load bucket %}


{% block content %}

<h1>{% trans "Bucket" %}</h1>

{% if bucket %}

	<table class='b-bucket'>
		<thead>
			<tr class='b-bucket__head'>
				<td>Фото</td>
				<td>Имя</td>
				<td>Цена шт</td>
				<td>Количество</td>
				<td>Итого</td>
				<td>Удалить</td>
			</tr>
		</thead>

		{% for item in bucket %}
			{% in_bucket item.content_object as products_in_bucked %}
<tr class='b-bucket-item
		m-widget-{{ item.content_object.id }}
		{% if products_in_bucked %}m-in-bucket_True{% endif %}
		b-bucket-widget
	'

	data-csrf='{{ csrf_token }}'
	data-content_type='{{ item.content_object.get_content_type.id }}'
	data-object_id='{{ item.content_object.id }}'
	data-price='{{ item.content_object.retail_price_with_discount }}'
	data-count='{{ products_in_bucked }}'
>

	<td class='b-bucket-item__photo'>
		{% thumbnail item.content_object.cover "100x100" crop="center" as im %}
			<img class='b-bucket-item__cover' src='{{ im.url }}' alt='{{ item.content_object.name }}'>
		{% empty %}
			<img class='b-bucket-item__cover' src='{% static "catalog/img/cover-picture.png" %}' alt='{{ item.content_object.name }}'>
		{% endthumbnail %}
	</td>

	<td>
		<a href='{{ item.content_object.get_absolute_url }}' class='b-bucket-item__name'>{{ item.content_object.name }}
		</a>
	</td>

	<td class='b-bucket-item__price m-valute'>
		{{ item.content_object.retail_price_with_discount|floatformat:0 }}
	</td>

	<td class='b-bucket-item__count'>
		<div class="b-bucket-widget_counter">
			<button class="b-bucket-widget__down" data-widget='{{ item.content_object.id }}'>–</button>
			<span class='b-bucket-widget__count' data-widget='{{ item.content_object.id }}' contenteditable='true'>{{ products_in_bucked }}</span>
			<button class="b-bucket-widget__up" data-widget='{{ item.content_object.id }}'>+</button>
		</div>
	</td>

	<td class='b-bucket-item__total b-bucket-widget__total_price m-valute'>
		{{ item.get_total_retail_price_with_discount|floatformat:0 }}
	</td>

	<td class='b-bucket-item__delete' data-widget='{{ item.content_object.id }}'>
		⊗
	</td>

</tr>








		{% endfor %}
	</table>

	<div class="b-bucket_total">
		<span>
			{% trans "Total price" %}:
			<b class="b-bucket_total_price">{{ bucket_total_price|floatformat:0 }}</b>
		</span>

		{% if bucket_total_count %}
			<a href='{% url "order" %}' class='b-button m-button__order'>Перейти к оформлению заказа</a>
		{% endif %}
	</div>

{% else %}
	<h3 class='b-bucket__empty'>Ваша корзина пуста!</h3>
{% endif %}



{% endblock content %}
