{% extends "base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load static %}

{% block content %}

<div class='m-app_accounts m-template_order {% if status == "ok" %}m-status_ok{% endif %}'>

{% if status == 'ok' %}
	<h1>Спасибо, заказ оформлен!</h1>
	<p>Наш менеджер свяжется с вами в ближайшее время для уточнения деталей заказа!</p>
{% else %}
	<h1>{% trans "Order" %}</h1>
	<p class="b-bucket_total">
		{% trans "Total price" %}:
		<b class="b-bucket_total_price">{{ new_order.retail_price_with_discount|floatformat:0 }}</b>
	</p>


	<form class='b-form m-order' method='POST' action=''>
		{% csrf_token %}

		{% for field in form %}
			<ul class='b-field
				m-field_{{ field.name }}
				{% if field.errors %}m-field_error{% endif %}
				{% if field.field.required %}m-field_required{% endif %}
			'>
				<li class='b-field__label'>{{ field.label_tag }}</li>
				{% if field.errors %}
					<li class='b-field__errors'>
						{% for error in field.errors %}
							{{ error|safe }}
						{% endfor %}
					</li>
				{% endif %}

				<li class='b-field__element'>{{ field }}</li>
			</ul><!-- b-field -->
		{% endfor %}

		<a href="{% url "bucket" %}" class='m-go_bucket b-button'>Вернуться в корзину</a>
		<input class='b-button' type='submit' value='{% trans "Order" %}'>
	</form>
{% endif %}

</div>
{% endblock content %}
