{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1 class="text-center title_form">{% trans 'Change your password' %}</h1>
{% if ok == True %}
	<h3 class="text-center">{% trans 'Password successfully received' %}</h3>
{% else %}

<form method="post" action="" class="form-horizontal b-password_change">
	{% csrf_token %}
	{{ form.management_form }}
	{% if form.non_field_errors %}
		<div class="col-sm-12">
			<div class="alert alert-danger all col-sm-6 col-sm-offset-3">
					{{ form.non_field_errors }}
			</div>
		</div>
	{% endif %}

	{% for field in form %}
			<ul class='b-field
				m-field_{{ field.name }}
				{% if field.errors %}m-field_error{% endif %}
				{% if field.field.required %}m-field_required{% endif %}
			'>
				<li class='b-field__label'>{{ field.label_tag }}</li>
				{% if field.errors %}
					<li class='b-field__errors'>
						{% for error in field.errors %}
							{{ error|safe }}
						{% endfor %}
					</li>
				{% endif %}

				<li class='b-field__element'>{{ field }}</li>
			</ul><!-- b-field -->
	{% endfor %}
	<div class="form-group col-sm-12">
		<div class="text-center col-sm-offset-6 col-sm-3">
			<button type="submit" value="Send" class="btn btn-primary b-form_submit col-md-12">{% trans 'Change your password' %}</button>
		</div>
	</div>
</form>
{% endif %}

<script>
	$( "input" ).addClass( "form-control" );
	$( "select" ).addClass( "form-control" );
	$( "option" ).addClass( "form-control" );
</script>


{% endblock %}
