{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="b-wrapper m-app_accounts m-template_singup">

<h1>{% trans 'Register' %}</h1>

{% for error in form.non_field_errors %}
	<span class='b-error'>{{ error|safe }}</span>
{% endfor %}

<form class='b-form m-contacts' method='POST' action='{% url "singup" %}'>
	{% csrf_token %}

	{% for field in form %}
		<ul class='b-field
			{% if field.errors %}m-field_error{% endif %}
			{% if field.field.required %}m-field_required{% endif %}
		'>
			<li class='b-field__label'>{{ field.label_tag }}</li>
			{% if field.errors %}
				<li class='b-field__errors'>
					{% for error in field.errors %}
						{{ error|safe }}
					{% endfor %}
				</li>
			{% endif %}

			<li class='b-field__element'>{{ field }}</li>
		</ul><!-- b-field -->
	{% endfor %}

	<input class='b-button' type='submit' value='{% trans "Sign up" %}'>
</form>

{% endblock %}

</div>